.navbar-nav .nav-link {
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #c9a14a !important;
}

.site-title {
  color: #c9a14a;
  font-size: 18px;
  font-weight: bold;
}

.custom-toggle {
  border: 2px solid #c9a14a !important;
  border-radius: 8px;
  padding: 6px 10px;
  transition: all 0.3s ease;
}

.custom-toggle .navbar-toggler-icon {
  background-image: none;
  position: relative;
  width: 24px;
  height: 2px;
  background-color: #c9a14a;
  display: inline-block;
}

.custom-toggle .navbar-toggler-icon::before,
.custom-toggle .navbar-toggler-icon::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #c9a14a;
  left: 0;
  transition: 0.3s;
}

.custom-toggle .navbar-toggler-icon::before {
  top: -7px;
}

.custom-toggle .navbar-toggler-icon::after {
  top: 7px;
}

.custom-toggle:hover {
  background-color: #c9a14a;
}

.custom-toggle:hover .navbar-toggler-icon,
.custom-toggle:hover .navbar-toggler-icon::before,
.custom-toggle:hover .navbar-toggler-icon::after {
  background-color: white;
}

.custom-toggle:focus,
.custom-toggle:active,
.custom-toggle:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}